@media only screen and (min-width: 64rem) {



  .primaryNav {
    background-color: rgb(170, 222, 255);
  }

  .heroDiv {
    display: grid;
  }
  .heroDiv img {
    grid-template-columns: 1/5;
  }
  .heroTitle {
    grid-template-rows: 2/3;
    position: absolute;
    float: center;
    text-align: center;
    color: rgb(249, 253, 236)
  }

  .weather {
    border-style:double;
  }
  



  
    nav button {
      display: grid;
      grid-template-columns: 2/3;
    }
  
    #social_media {
        display: grid;
        grid-template-columns: 2/3;
    }
  
    nav #primary-nav {
      display: flex;
      margin-left: 500px;
      margin-top: -60px;
    }

  
}