@media screen and (max-width: 845px){
    #rentalCards {
        display: grid; 
        grid-template-columns: repeat(1, 1fr);
        
    }
}
@media screen and (max-width: 1719px){
    #rentalCards {
        display: grid; 
        grid-template-columns: repeat(2, 1fr);
        
    }
}
