



#menu::before {
    content: "☰";
}
#menu.open::before {
    content: "❌";
}

.open .site-link ul{
    display: block;
}

.classCardH3::before {
    content: "🎓";
}

.infoH2::before {
    content: "📚";
}

@media screen and (max-width: 835px){
    .site-link { 
        display: none; 
    }

    .site-link.open {
        display: block;

    }
    .site-links.open {
        display: block;

    }
    .open.site-links .site-link {
        display:block;
        text-decoration: none;
        grid-template-rows: auto;
        justify-items: center;
        list-style-type: none;
        font-size: 25px;
        right: 20px;
        color: rgb(255,255,255);
        background-color: rgb(78, 110, 88);;
    }

    .townMap {
        display: none;
    
    }
    .vineyard iframe {
        display: none;
    
    }

}
